@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply text-slate-50;
}

.__main-min-screen-height,
.template > div {
  @apply min-h-[calc(100vh_-_86px)];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
